Plugins>Atlas Toolkit, "1. Extract Nuclear Signal", com.grocottlab.atlas_toolkit.ExtractNuclearSignal_
Plugins>Atlas Toolkit, "2. Project to Segment Label", com.grocottlab.atlas_toolkit.ProjectToLabel_
Plugins>Atlas Toolkit, "3. Label Registration 3D", com.grocottlab.atlas_toolkit.LabelRegistration3D_
Plugins>Atlas Toolkit, "4. Apply Label Registration", com.grocottlab.atlas_toolkit.ApplyLabelRegistration_
Plugins>Atlas Toolkit, "5. Merge Registered Volumes", com.grocottlab.atlas_toolkit.MergeRegisteredVolumes_
Plugins>Atlas Toolkit, "6. Sample Volumes for Clustering", com.grocottlab.atlas_toolkit.SampleVolumes_
Plugins>Atlas Toolkit, "7. Cluster Viewer", com.grocottlab.atlas_toolkit.Tree2Volume_